@charset "UTF-8";

 aside, footer, header, main, nav, section{
    display:block;
}
 aside, footer, header, main, nav, section, body{
    padding: 0px;
    margin: 0px;
}
body{
    text-align:center;
    background-color:#d7d7d7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
header{
    background-color:#1D3164;
    display: block;
    overflow: hidden;
    width:100%;
    height:150px;
    margin-right:80px;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.logo{
    margin-left: 25px;
    padding:10px;
    height:90%;
}
.logoSabre{
    height: 28%;
}
.derecha{
    float: right;
    margin: 50px;
    margin-top: 55px;
    width: 40%;
}
a{
    color:white;
    text-decoration: none;
}
.derecha li{
    display: inline;
    margin-left:40px;
    margin-right:40px;
}
main{
    margin-bottom:10px;
}
section{
    background-color:#8EADBF;
    padding:10px;
    margin: 10px 0px;
}
article{
    text-align: justify;
    display: inline-block;
    clear:both;
    border: 1px solid #CADCE8	;
    border-radius:10px;
    margin-bottom:20px;
    padding: 20px;
}
footer{
    clear: both;
    background-color:#1D3164;
    padding-top: 30px;
    color:white;
}
.footer{
    display: inline-table;
    width: 25%;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 10px;
    font-size: 15px;
}
.contenedor{
    width:98%;
    text-align: center;
    display: inline-block;
}