@charset "UTF-8";

section{
    display: flex;
    padding: 60px 0px;
}
.contenedorSection{
    display: inline-flex;
    justify-content: center;
    clear: both;
}
section a{
    margin: 15px;
}
.sobre{
    margin: 20px;
    text-align: justify;
    border: 2px solid #3f547c;
    border-radius: 10px;
    width: 30%;
    background-color:  #f4f7f1;
    color: black;
    padding-bottom: 20px;
}
.sobre h3{
    background-color:#3f547c;
    color: #7e8aa0;
}
.sobre a{
    color: #3f547c;
}
.green{
    margin: 20px;
    text-align: justify;
    border: 2px solid  #648c4c ;
    border-radius: 10px;
    width: 30%;
    background-color:  #f4f7f1;
    color: black;
    padding-bottom: 20px;
}
.green h3{
    background-color: #648c4c;
    color: #a7bf95 ;
}
.green a{
    color: #648c4c;
}
.productos{
    margin: 20px;
    text-align: justify;
    border: 2px solid #b38105;
    border-radius: 10px;
    width: 30%;
    background-color:  #f4f7f1;
    color: black;
    padding-bottom: 20px;
}
.productos h3{
    background-color: #b38105;
    color: #ceb168;
}
.productos a{
    color: #b38105;
}
p{
    margin: 15px;
}
h3{
    margin: -1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 25px;
    padding: 10px;
}